.hero{
    background-color: #495E57;
    color: #fff;
    padding: 4rem;
}

.hero .content{
    display: grid;
    max-width: 858px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
    justify-items: end;
}

.card .title{
    color: #F4CE14;
}

.card span{
    font-size: 20px;
    color: #ffffff
}

.card p{
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: justify;
}

.hero-img{
    width: 275px;
    height: 225px;
}

@media (max-width: 768px){
    .hero .content{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}

