.footer{
    color: #ffffff;
    background-color: #495E57;
    padding: 3rem;
}

.footer-grid {
    max-width: 858px;
    margin: auto;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(4, 1fr);
    justify-items: end;
}

.footer img{
    height: auto;
    background-color: #ffffff;
}

.footer-link li{
    padding: 0.3rem;
}

@media screen and (max-width:768px){
    .footer .footer-grid{
        grid-template-columns: repeat(2, 1fr);
        gap:2rem;
        justify-items: start;
    }
}