.testimonial{
    background-color: #495E57;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 2rem;
}

.testimonial .container{
    max-width: 858px;
    height: auto;
    margin:auto;
}

.customer{
    width: 100%;
}

.testimonial .container h2{
    color:white;
    text-align: center;
    margin-bottom: 3rem;
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    width: 100%;
    margin: auto;
}

.testimonial-img{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.testimonial-img img{
    width: 60px;
    height: 60px;
}

.customer{
    background-color: #ffffff;
    padding: 1rem;
    justify-content: flex-start;
    margin: auto;
}

@media (max-width: 820px){

    .testimonial .testimonial-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){

    .testimonial .testimonial-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

