 @import url('https://fonts.cdnfonts.com/css/markazi-text');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Markazi Text', 'roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

h1{
  letter-spacing: 0.3rem;
}

span{
  letter-spacing: 0.3rem;
}

.container{
  max-width:1440px;
}

button{
  padding: 10px 10px 10px 10px;
  background: #F4CE14;
  border: none;
  border-radius: 10%;
}

button:active{
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .2);
}

a{
  color: #333;
}

a:hover{
  color:#ffffff;
  background: #495E57;
}

li{
  list-style: none;
}
