@import url('');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Markazi Text', 'roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.container{
  max-width:1440px;
}

button{
  padding: 10px 20px 10px 20px;
  background: #F4CE14;
  border: 0px;
}

button:active{
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .2);
}

a{
  color: #333;
}

li{
  list-style: none;
}
